

 <h1> Add Product </h1>

  <%= form_tag ({controller: 'products', action: 'add', method: 'post'}) do %>

     <input name=product>
 	<input type=submit value= "add to cart" >
 <% end %>

  <h1> Cart Items: </h1>
 <ul>
 	<%= cart %>
 